.particles-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.particles-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
